nodejs-api/node_modules/**
nodejs-api/.serverless/**
automatic-process/node_modules/**
automatic-process/.serverless/**
python-api/.serverless/**
*.zip
java-api/.serverless/**
java-api/target/**
scripts/node_modules/**
