nodejs/node_modules/**
nodejs/.serverless/**
automatic-process/node_modules/**
automatic-process/.serverless/**
python/.serverless/**
python/node_modules/**
*.zip
java-api/.serverless/**
java-api/target/**
scripts/node_modules/**
