nodejs/node_modules/**
nodejs/.serverless/**
automatic-process/node_modules/**
automatic-process/.serverless/**
python/.serverless/**
python/node_modules/**
*.zip
java/.serverless/**
java/target/**
scripts/node_modules/**
